<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mars_data_page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <section class="row">
            <div class="col-sm-12">
                <h1 class="main-heading">Latest Mars News</h1>
                <h4 class="sub-headings">{{ my_dict_data.headlines }}</h4>
                <p class="paragraph-text">{{ my_dict_data.text }}</p>
            </div>
        </section>
        <section class="row">
            <div class="col-sm-8">
                <div class="row">
                    <h3 class=sub-headings>Featured Mars Image</h3>
                </div>
                <img src="{{my_dict_data.main_image}}" alt="..."> 
            </div>
            <div class="col-sm-4">
                <h4 class="sub-headings">Mars facts</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Mars</th>
                            <th>Earth</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in my_dict_data.facts  %}
                            <td> {{ item.Comparison}}</td>
                            <td> {{ item.Mars}}</td>
                            <td> {{ item.Earth }}</td>   
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </section>
        <section class="row">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="sub-headings text-center">Mars Hermispheres</h3>
                </div>
                <div class="row">
                    {% for item in my_dict_data.hermisphere %}
                    <div class="col-sm-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ item.img_url }}" alt="...">
                            <div class="caption">
                                <h4>{{ item.title}}</h4>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>
</html>


